.mobileHidden{
    .ant-layout-sider-children{
        width: 100%;
        .antd-men{
            border: none;
        }
    }
}
.sider-container{
    height: 100vh;
}

.layout-container{
    height: 100vh;
    background: #1C2131;
    .content-wrapper{
        height: calc(100vh - 80px);
    }
}