.login-wrapper {
    height: 100vh;
    background-color: #3585f9;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form-container {
        width: 25%;
        .tittle-login {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 24px;
            color: #FFFFFF;
        }

        .subtittle {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

}

@media screen and (max-width: 1200px) {
    .login-wrapper {
        .login-container {
            width: 50%;
            border-radius: 40px;
        }
    }

}