.Steps-addAgent{
    .addAgentConfig-server-wrapper{
        .ant-space-item{
            width: 100%;
            .ant-form-item{
                width: 100%;
            }
            .addAgentConfig-input{
                width: 100%;
            }
        }
    }
}