.customers-wrapper{
    width: 100%;
    padding: 10px;
    height: 400px;
    .dasboard-gn-wrapper{
        .ant-space-item{
            // width: 200px;
        }
    }
    .chart-wrapper{
        height: 100%;
        width: 100%;
    }
}