.detailButton {
    color: white !important;
    font-size: 0.7rem !important;
    background-color: #252C40;
    border:0.2px solid rgba(255, 255, 255, 0.7) !important;
    margin: 0 10px;
    &:hover{
        border:0.2px solid rgba(255, 255, 255, 0.7) !important;
    }
}
.removeKeyButton{
    color: #F25B60 !important;
    font-size: 0.7rem !important;
    background-color: #252C40;
    border: 0.2px solid rgba(255, 255, 255, 0.7);
    margin: 0 10px;
    &:hover{
        border:0.2px solid rgba(255, 255, 255, 0.7) !important;
    }
}