.detailButton {
    color:rgba(255, 255, 255, 0.7) !important;
    font-size: 0.8rem;
    background-color: #252C40;
    border: rgba(255, 255, 255, 0.7);
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}