.db-topCardItem-wrapper {
    width: 250px;
    justify-content: space-between !important;
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(128,128,128,0.4);
    margin-bottom: 10px;
    position: relative;
    .db-topCardIcon-wrapper{
        width: 30px;
        height: 30px;
        background-color: #1a6de3;
        color: white;
        justify-content: center;
        border-radius: 8px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}