.successIcon-container{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: rgba(53, 218, 127, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}