.sideBar-container {
    background: #FFFFFF;
    height: 100%;
    position: fixed;
    width: 240px;
    .ant-space{
        width: 100%;
        .ant-space-item{
            .sider-title-wrapper{
                background-color: #1a6de3;
                padding: 19px 10px;
            }
        }
    }
    .tittle-sider {
        margin-top: 20px;
        margin-left: 24px;
    }
    .slide-logo-icon{
        height: 40px;
        font-size: 40px;
    }
    .slide-tittle {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
    }
}
.menuTab {
    .ant-menu{
        border-inline-end: none;
    }
    .ant-menu-item{
        width: 100%;
        height: 48px;
        margin-inline: 0;
        .ant-menu-title-content{
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .ant-menu-submenu{
        .ant-menu-submenu-title{
            margin-inline: 0;
            width: 100%;
            height: 44px;
        }
    }
    
}